
<form>
    <table>
        <caption>
          Can you find out what kind of hand this is?
        </caption>
        <tr>
          <td></td>
          <th scope="col">
            <canvas width="120" height="120">
                Card 1
            </canvas>              
        </th>
        <th scope="col">
            <canvas width="120" height="120">
                Card 2
            </canvas>              
        </th>
        <th scope="col">
            <canvas width="120" height="120">
                Card 3
            </canvas>              
        </th>
        <th scope="col">
            <canvas width="120" height="120">
                Card 4
            </canvas>              
        </th>
        <th scope="col">
            <canvas width="120" height="120">
                Card 5
            </canvas>              
        </th>
        </tr>
    </table>
    <fieldset>
      <legend>Select the kind of poker hand</legend>
  
      <input type="radio" id="Five_Of_A_Kind" name="hand" value="A" /> 
      <label for="hand">Five Of A Kind</label><br />

      <input type="radio" id="Straight_Flush" name="hand" value="B" /> 
      <label for="hand">Straight Flush</label><br />

      <input type="radio" id="Four_Of_A_Kind" name="hand" value="C" /> 
      <label for="hand">Four Of A Kind</label><br />

      <input type="radio" id="Full_House" name="hand" value="D" />     
      <label for="hand">Full House</label><br />

      <input type="radio" id="Flush" name="hand" value="E" /> 
      <label for="hand">Flush</label><br />

      <input type="radio" id="Straight" name="hand" value="F" />
      <label for="hand">Straight</label><br />

      <input type="radio" id="Three_Of_A_Kind" name="hand" value="G" />
      <label for="hand">Three Of A Kind</label><br />

      <input type="radio" id="Two_Pair" name="hand" value="H" />
      <label for="hand">Two Pair</label><br />

      <input type="radio" id="One_Pair" name="hand" value="I" />
      <label for="hand">One Pair</label><br />

      <input type="radio" id="High_Card" name="hand" value="J" />
      <label for="hand">High Card</label><br />
    </fieldset>
</form>